{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.webp" class="card-img-top border rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Rio Galih Satria</h5>
          <p class="card-text text-center">{{data_nim}}</p>
        </div>
      </div>
</div>
{% endblock %}